<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button{
            background-size:100% 100%;
            width: 60px;
            height: 60px;
        }

    </style>
</head>
<body>
    <form action="#" method="post">
        <table cellpadding="0" cellspacing="0">
            <tbody>
            {% for col in range(8) %}
                <tr>
                    {% for row in range(8) %}
                        {% if (col+row) % 2==0 %}
                            <td>
                                {% if content[1] == [col, row] %}
                                    <button name="position" value={{row}}{{col}} style="border:2px solid orange;
                                {% else %}
                                    <button name="position" value={{row}}{{col}} style="
                                {% endif %}

                                {% if 'Pawn' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_pawn_2.png') }});">
                                {% elif 'Pawn' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_pawn_2.png') }});">
                                {% elif 'King' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_king_2.png') }});">
                                {% elif 'King' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_king_2.png') }});">
                                {% elif 'Queen' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_queen_2.png') }});">
                                {% elif 'Queen' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_queen_2.png') }});">
                                {% elif 'Knight' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_knight_2.png') }});">
                                {% elif 'Knight' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_knight_2.png') }});">
                                {% elif 'Rook' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_rook_2.png') }});">
                                {% elif 'Rook' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_rook_2.png') }});">
                                {% elif 'Bishop' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_bishop_2.png') }});">
                                {% elif 'Bishop' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_bishop_2.png') }});">
                                {% else  %}
                                    background-color: black;">
                                {% endif %}
                                    </button>
                            </td>
                        {% else %}
                            <td>
                                {% if content[1] == [col, row] %}
                                    <button name="position" value={{row}}{{col}} style="border:2px solid orange;
                                {% else %}
                                    <button name="position" value={{row}}{{col}} style="
                                {% endif %}

                                {% if 'Pawn' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_pawn.png') }});">
                                {% elif 'Pawn' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_pawn.png') }});">
                                {% elif 'King' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_king.png') }});">
                                {% elif 'King' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_king.png') }});">
                                {% elif 'Queen' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_queen.png') }});">
                                {% elif 'Queen' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_queen.png') }});">
                                {% elif 'Knight' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_knight.png') }});">
                                {% elif 'Knight' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_knight.png') }});">
                                {% elif 'Rook' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_rook.png') }});">
                                {% elif 'Rook' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_rook.png') }});">
                                {% elif 'Bishop' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'black' %}
                                    background-image: url({{ url_for('static', filename='black_bishop.png') }});">
                                {% elif 'Bishop' in content[0].board_state[col][row].name and content[0].board_state[col][row].color == 'white' %}
                                    background-image: url({{ url_for('static', filename='white_bishop.png') }});">
                                {% else  %}
                                    background-color: white;">
                                {% endif %}
                                    </button>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
    <form action="#" method="post">
        <button style="width: 100px;" name="new" value="reset">New Game</button>
    </form>
    <form action="#" method="post">
        <select name="change">
            <option value="queen">queen</option>
            <option value="knight">knight</option>
            <option value="rook">rook</option>
            <option value="bishop">bishop</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>